/* 폰트 - KoPub돋움 */
@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 - 스포카한산스네오Light */
/* 굵기 문제로 교체 */
@font-face {
    font-family: 'SpoqaHanSansNeo-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 모든 링크 색 변경 */
a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

/* 전체 설정 */
html {
    height: 100%;
}

/* 바디 전체 */
body {
    height: 100%;
    font-family: 'SpoqaHanSansNeo-Light';
    -webkit-text-stroke: 0.4px;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 150px;
    position: relative;
}